.accreditations {

    margin: 100px 0;

    &__row{

        display: flex;
        align-items: center;
        flex-direction: column;

        @media(min-width: $md-lg-width){
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__image{
        width: 75px;

        @media(min-width: $md-lg-width){
            width: 155px;
        }
    }
}