.contact{

    &__small__heading{
        font-size: 20px;
    }

    &__email__heading{
        font-size: 25px;

        @media(min-width: $md-width){
            margin:50px 0 40px 70px;
        }
    }

    &__social{
        margin-right: 40px;
    }
}