.strapline{
    height: 300px;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: right;

    &__info{

        padding-top: 50px;

        h2{
            color: $white;
        }

        h4{
            color: $white !important;  
        }
    }

}