.contact__form{
    width: 100%;
    margin: 0;

    @media(min-width: $md-width){
        margin:50px 0 40px 70px;
        width: 90%;
    }

    &__btn{
        background-color: $red;
        width: 100%;
        padding: 15px;
        color: $white;
        font-weight: 900;
        border-style: none;
        transition: .5s ease-in-out;

        &:hover, &focus{
            background-color: $black;
        }
    }

    &__first-name, &__email, &__phone, &__message{
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 5px;
        color: $black;
        }
    }

#your-message{
    height: 200px;
}