.footer{
    &__text{
        font-size: 15px;
    }

    &__list{
        list-style: none;
        padding-left: 0;

        li{
            font-size: 15px;
            a{
                color: $grey;
            }
        }
    }
}