.header{
    background-color: $black;
    padding: 20px 0;
}

.navigation{

    @media(min-width: $sm-width){
       margin-top: 40px;
    }

    &__logo{
        margin-top: 20px;
        
    }

    &__links{
        z-index: 200;
        padding-left: 0;
        margin-top: -80px;
        position: absolute;
        right: 0px;
        height: 120vh;
        top: 8vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 400px;
        background-color: $red;

        @media(min-width: $xl-width){
            display: flex !important;
            justify-content: center;
            margin-top: 30px;
            top: 0;
            height: 20px;
            position: relative;
            flex-direction: row;
            width: 70%;
            transform: translateX(50%);
            padding-bottom: 0;
            justify-content: space-around;
            background-color: transparent;
            margin-left: -20%;
        }
   }

    &__link{

        a{
            color: $white !important;
            text-decoration: none;
            margin: 5px;
            font-weight: 500;
            transition: ease-in .5s;
            cursor: pointer;
            z-index: 300;
            font-size: 35px;

            @media(min-width: $xl-width){
                font-size: 16px;
            }

            &:hover, &:focus{
                color: $red;
            }
        }
    }

        &__contact__btn{
            display: none;
    
            @media(min-width: $xl-width){
               display: block;
               margin: 20px 0 0 110px;
                background-color: $black;
             }

             &__img{
                width: 20px;
                margin: -2px 5px 0 0;
             }
        }
    
        &__burger{
            display: block;
            z-index: 200;
            top: 60px;
            right: 25px;
            position: absolute;

            @media (min-width: $xl-width){
                display: none;
                }
            }
            
        &__burger div{
            width: 25px;
            height: 3px;
            background-color: $white;
            margin: 5px;
            transition: all 0.3s ease;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }
    }

    // nav-animations

    .nav-active{
        transform: translateX(0%) !important;
        z-index: 100;
    }
    
    .toggle{
        .line__one{
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line__two{
            opacity: 0;
        }
        .line__three{
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
    
    