@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Sans&family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans&family=Poppins:wght@500;600;700&family=Roboto:wght@500&family=Smythe&display=swap");
#wrapper {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 35px;
  font-weight: 800;
}

h3 {
  color: #000;
  font-weight: 700;
}

h4 {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

h5 {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

h6 {
  font-size: 15px;
  color: #fff;
}

P {
  color: #646464;
}

.line {
  padding: 2px;
  background-color: #FF0336;
  width: 90px;
}

.fa-facebook-f, .fa-pinterest-p {
  background-color: #EFEFEF;
  padding: 12px 15px;
  color: #646464;
  border-radius: 50%;
}

.fa-youtube, .fa-twitter {
  background-color: #EFEFEF;
  padding: 12px;
  color: #646464;
  border-radius: 50%;
}

.text__color {
  color: #FF0336;
}

.pound {
  font-size: 28px;
  font-weight: 100;
}

.per__month {
  font-size: 20px;
  font-weight: 100;
}

.red {
  color: #FF0336;
}

input, textarea {
  background-color: #EFEFEF;
}

.form-control {
  background-color: #EFEFEF;
}

.pricing__plans {
  margin-bottom: 120px;
}

.news__block {
  margin-bottom: 100px;
}

.sprapline {
  margin-bottom: 110px;
}

.base__footer {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.base__footer p {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.footer__text {
  font-size: 15px;
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
.footer__list li {
  font-size: 15px;
}
.footer__list li a {
  color: #646464;
}

.article__btn {
  background-color: #FF0336;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  border: #FF0336 1px solid;
  z-index: 2;
  font-weight: 700;
}
.article__btn:hover, .article__btnfocus {
  background-color: #000;
  border: #000 1px solid;
  color: #fff;
}

.cta__btn {
  background-color: #FF0336;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  border-style: none;
  z-index: 2;
  font-weight: 700;
}
.cta__btn:hover, .cta__btnfocus {
  background-color: #fff;
  color: #000;
}

.navigation__contact__btn {
  background-color: #000;
  border: solid 1px #fff;
  color: #fff;
  padding: 13px 22px;
  font-size: 14px;
  font-weight: 700;
  width: 180px;
  transition: 0.5s ease-in-out;
}
.navigation__contact__btn:hover, .navigation__contact__btnfocus {
  background-color: #fff;
  border: #fff 1px solid;
  color: #000;
}

.masthead__btn {
  background-color: #fff;
  padding: 15px 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s;
  z-index: 2;
  font-weight: 700;
  border-style: none;
  transition: 0.5s ease-in-out;
}
.masthead__btn:hover, .masthead__btnfocus {
  background-color: #FF0336;
  color: #fff;
}

.who__we__are__btn {
  background-color: #646464;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s;
  z-index: 2;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  border-style: none;
}
.who__we__are__btn:hover, .who__we__are__btnfocus {
  background-color: #FF0336;
  color: #fff;
}

.strapline__btn {
  background-color: #000;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s;
  z-index: 2;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  border-style: none;
}
.strapline__btn:hover, .strapline__btnfocus {
  background-color: #fff;
  color: #000;
}

.bmi__btn {
  background-color: #646464;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s;
  border: #646464 1px solid;
  z-index: 2;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
.bmi__btn:hover, .bmi__btnfocus {
  background-color: #FF0336;
  border: #FF0336 1px solid;
}

.shedule__btn {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  border: solid 1px #646464;
  transition: 0.5s ease-in-out;
  padding: 8px 12px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  min-width: 125px;
}
.shedule__btn:hover, .shedule__btnfocus {
  background-color: #FF0336;
  color: #fff;
  border-color: #FF0336;
}

.schedule__btn {
  min-width: 100%;
  margin-top: 30px;
  background-color: #595959;
  border: solid 1px #595959;
  color: #fff;
  padding: 15px 15px;
  border-radius: 35px;
  transition: 0.5s ease-in-out;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  min-width: 125px;
}
.schedule__btn:hover, .schedule__btnfocus {
  background-color: #FF0336;
  color: #fff;
  border-color: #FF0336;
}

.news__card {
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  padding: 35px;
  height: 100%;
  margin-bottom: 40px;
}
@media (min-width: 754px) {
  .news__card {
    margin-bottom: 20px;
  }
}
.news__card__date {
  text-align: center;
  color: #000;
  border: solid 1.2px #000;
  width: 48%;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 754px) {
  .news__card__date {
    width: 40%;
  }
}
.news__card img {
  margin-left: 10px;
}

.pricing__plans__card {
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 30px;
}
.pricing__plans__card__image {
  width: 100%;
  z-index: 1;
  height: 300px;
  object-fit: fill;
}
.pricing__plans__card__container {
  background-color: #fff;
  width: 60%;
  z-index: 2;
  padding-top: 10px;
  margin-top: -50px;
}
.pricing__plans__card__container h5 {
  color: #FF0336;
  text-align: center;
  background-color: #fff !important;
}
.pricing__plans__card__container ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.pricing__plans__card__container ul li {
  margin-bottom: 25px;
}

.header {
  background-color: #000;
  padding: 20px 0;
}

@media (min-width: 450px) {
  .navigation {
    margin-top: 40px;
  }
}
.navigation__logo {
  margin-top: 20px;
}
.navigation__links {
  z-index: 200;
  padding-left: 0;
  margin-top: -80px;
  position: absolute;
  right: 0px;
  height: 120vh;
  top: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding-bottom: 400px;
  background-color: #FF0336;
}
@media (min-width: 1100px) {
  .navigation__links {
    display: flex !important;
    justify-content: center;
    margin-top: 30px;
    top: 0;
    height: 20px;
    position: relative;
    flex-direction: row;
    width: 70%;
    transform: translateX(50%);
    padding-bottom: 0;
    justify-content: space-around;
    background-color: transparent;
    margin-left: -20%;
  }
}
.navigation__link a {
  color: #fff !important;
  text-decoration: none;
  margin: 5px;
  font-weight: 500;
  transition: ease-in 0.5s;
  cursor: pointer;
  z-index: 300;
  font-size: 35px;
}
@media (min-width: 1100px) {
  .navigation__link a {
    font-size: 16px;
  }
}
.navigation__link a:hover, .navigation__link a:focus {
  color: #FF0336;
}
.navigation__contact__btn {
  display: none;
}
@media (min-width: 1100px) {
  .navigation__contact__btn {
    display: block;
    margin: 20px 0 0 110px;
    background-color: #000;
  }
}
.navigation__contact__btn__img {
  width: 20px;
  margin: -2px 5px 0 0;
}
.navigation__burger {
  display: block;
  z-index: 200;
  top: 60px;
  right: 25px;
  position: absolute;
}
@media (min-width: 1100px) {
  .navigation__burger {
    display: none;
  }
}
.navigation__burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.nav-active {
  transform: translateX(0%) !important;
  z-index: 100;
}

.toggle .line__one {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line__two {
  opacity: 0;
}
.toggle .line__three {
  transform: rotate(45deg) translate(-5px, -6px);
}

.fitness__coach__card {
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: red solid 4px;
}
.fitness__coach__card__info, .fitness__coach__card__image {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fitness__coach__card__info {
  background-color: #fff;
  padding-bottom: 30px;
}
.fitness__coach__card__facebook, .fitness__coach__card__twitter, .fitness__coach__card__insta, .fitness__coach__card__mail {
  background-color: #fff;
  padding: 5px;
  color: #646464;
}

.classes__card {
  width: 100%;
  cursor: pointer;
  height: 300px;
  position: relative;
}
.classes__card img {
  height: 292px;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  margin-bottom: 80px;
  transition: 0.5s ease-in-out;
  opacity: 0.9;
}
@media (min-width: 754px) {
  .classes__card img {
    max-width: 400px;
  }
}
.classes__card img:hover, .classes__card imgfocus {
  opacity: 1;
  transform: scale(1.1);
}
.classes__card h3 {
  color: #fff;
  padding: 10px;
  z-index: 2;
  position: absolute;
  padding: 7px;
  margin-top: -160px;
  text-shadow: 2px 2px #000;
}
.classes__card h6 {
  background-color: #FF0336;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 7px;
}

.testimonials__card {
  background-color: #000;
  background-repeat: no-repeat;
  border: solid 8px #EFEFEF;
  padding: 25px;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  background-position: right top;
  min-width: 100%;
}
.testimonials__card h3, .testimonials__card p {
  color: #fff;
  padding-right: 50px;
}
.testimonials__card__thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -90px;
}

.gallery__image {
  width: 100%;
  margin-bottom: 15px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.gallery__image:hover, .gallery__imagefocus {
  transform: scale(1.5);
}

.large__class__card {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: #000;
  height: 500px;
  margin-bottom: 40px;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
}
.large__class__card__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}
.large__class__card__image:hover, .large__class__card__imagefocus {
  opacity: 1;
  transform: scale(1.1);
}
.large__class__card__heading {
  position: absolute;
  margin-bottom: 150px;
  margin-top: -300px;
  color: #fff;
  padding: 25px;
  text-shadow: 2px 2px #000;
}
.large__class__card__line {
  position: absolute;
  height: 5px;
  background-color: #FF0336;
  width: 100px;
  margin-top: -220px;
  margin-left: 25px;
}
.large__class__card__date {
  color: #fff;
  position: absolute;
  margin-top: -190px;
  margin-left: 25px;
  text-shadow: 2px 2px #000;
}
.large__class__card__coach {
  color: #fff;
  position: absolute;
  margin-top: -160px;
  margin-left: 25px;
  text-shadow: 2px 2px #000;
}
.large__class__card__btn {
  background-color: #fff;
  padding: 12px 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  z-index: 5;
  font-weight: 700;
  position: absolute;
  margin-top: 50px;
  width: 160px;
  margin-left: -340px;
  margin-top: 400px;
}
.large__class__card__btn:hover, .large__class__card__btnfocus {
  background-color: #FF0336;
  color: #fff;
}
@media (min-width: 754px) {
  .large__class__card__btn {
    margin-left: -390px;
  }
}

.classes__coach__card {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}
.classes__coach__card h6 {
  color: #FF0336;
  font-weight: 900;
}

.classes__image__grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 754px) {
  .classes__image__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.classes__image__grid__image {
  width: 100%;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  height: 280px;
  object-fit: cover;
}
@media (min-width: 754px) {
  .classes__image__grid__image {
    width: 400px;
  }
}

.main__article__card__image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
@media (min-width: 754px) {
  .main__article__card__image {
    width: 95%;
  }
}
.main__article__card__stack {
  width: 20px;
  height: 20px;
}
.main__article__card__author {
  font-weight: 900;
}
.main__article__card__info {
  width: 100%;
}
@media (min-width: 754px) {
  .main__article__card__info {
    width: 25%;
  }
}
.main__article__card__info__single {
  width: 100%;
}
@media (min-width: 754px) {
  .main__article__card__info__single {
    width: 21%;
  }
}
.main__article__card p {
  width: 80%;
}

.small__article__card__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.small__article__card__date {
  font-size: 14px;
  font-weight: 600;
}
.small__article__card__heading {
  font-size: 16px;
  font-weight: 900;
  color: #000;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
  height: 38px !important;
  background-color: #EFEFEF !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
  width: 100% !important;
  font-size: 18px !important;
}
@media (min-width: 754px) {
  #ajaxsearchlite1 .probox, div.asl_w .probox {
    width: 70.5% !important;
  }
}
#ajaxsearchlite1 .probox ::placeholder, div.asl_w .probox ::placeholder {
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif !important;
  color: #000 !important;
}

#ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
  padding-top: 12px !important;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
  padding: 0 !important;
  height: 50px !important;
}

div.asl_m .probox .promagnifier .innericon {
  height: 38px !important;
}

div.asl_w .probox .promagnifier .innericon svg {
  background-color: #FF0336;
  fill: #fff !important;
  height: 100% !important;
  height: 38px !important;
}

.promagnifier {
  background-color: #FF0336 !important;
  height: 38px !important;
  width: 50px !important;
}

div.asl_w .probox .promagnifier {
  height: 100% !important;
}

.autocomplete {
  display: none !important;
}

.proclose {
  margin-top: 10px !important;
  margin-left: 20px !important;
}

.asl_nores {
  display: none !important;
}

.results {
  width: 94% !important;
}
@media (min-width: 754px) {
  .results {
    width: 70.5% !important;
  }
}

#ajaxsearchliteres1 {
  width: 95% !important;
}
@media (min-width: 754px) {
  #ajaxsearchliteres1 {
    width: 50% !important;
  }
}

.contact__form {
  width: 100%;
  margin: 0;
}
@media (min-width: 668px) {
  .contact__form {
    margin: 50px 0 40px 70px;
    width: 90%;
  }
}
.contact__form__btn {
  background-color: #FF0336;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-weight: 900;
  border-style: none;
  transition: 0.5s ease-in-out;
}
.contact__form__btn:hover, .contact__form__btnfocus {
  background-color: #000;
}
.contact__form__first-name, .contact__form__email, .contact__form__phone, .contact__form__message {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 5px;
  color: #000;
}

#your-message {
  height: 200px;
}

.acf-map {
  width: 100%;
  height: 500px;
}

.acf-map img {
  max-width: inherit !important;
}

.strapline {
  height: 300px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right;
}
.strapline__info {
  padding-top: 50px;
}
.strapline__info h2 {
  color: #fff;
}
.strapline__info h4 {
  color: #fff !important;
}

.headings__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headings__info__bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.headings__info__bg h5 {
  color: #fff;
}

.masthead {
  background-color: #000;
  height: 810px;
}
.masthead__image {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
  margin: -50px 0 50px 0;
}
@media (min-width: 754px) {
  .masthead__image {
    height: 740px;
    margin: 0;
  }
}
.masthead .masthead__heading__bg {
  width: 100%;
  background-repeat: no-repeat;
  height: 50px;
}
.masthead .masthead__small__heading {
  padding: 10px 0 0 28px;
  color: #000;
  font-weight: 700;
}
.masthead__main__heading {
  font-weight: 800;
  color: #fff;
  font-size: 48px;
}
.masthead__main__heading__one {
  font-weight: 300;
  color: #fff;
  font-size: 48px;
}
.masthead__info {
  max-width: 100%;
}
@media (min-width: 754px) {
  .masthead__info {
    margin-top: 180px;
  }
}
.masthead__socials {
  padding-top: 150px;
}
.masthead__share {
  margin-top: 30px;
  rotate: 90deg;
  color: #fff;
  margin-right: -30px;
}
.masthead__line {
  height: 33px;
  width: 3px;
  margin: 30px 0 5px 40px;
}
.masthead__linkedin {
  color: #fff;
  z-index: 200;
}
.masthead__linkedin:hover, .masthead__linkedinfocus {
  background-color: #FF0336 !important;
  cursor: pointer;
}
.masthead__twitter, .masthead__facebook {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  padding: 0;
  z-index: 200;
}
.masthead__pull__up {
  margin-top: -350px;
}

.services {
  margin-bottom: 110px;
}
@media (min-width: 754px) {
  .services {
    margin-top: -50px;
  }
}
.services__card {
  height: 300px;
  box-shadow: 0px 20px 25px -2px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
  max-width: 100%;
  background-color: #fff;
  margin-top: 50px;
}
@media (min-width: 754px) {
  .services__card {
    margin-top: 0;
  }
}
.services__card p {
  color: #000;
  font-weight: 500;
}

.banner {
  height: 350px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}
.banner__heading {
  color: #fff;
  padding-top: 120px;
}

.who__we__are {
  margin-bottom: 80px;
}
.who__we__are__sm__heading {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  padding: 10px;
}
.who__we__are__sm__heading h5 {
  padding-left: 20px;
  color: #fff;
  font-size: 20px;
}
.who__we__are p {
  width: 90%;
}
.who__we__are__section {
  margin-left: -50px;
}
.who__we__are__sections {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 754px) {
  .who__we__are__sections {
    padding: 0;
  }
}
.who__we__are__sections img {
  width: 60px;
}
.who__we__are__sections h6 {
  color: #000;
  margin-top: 20px;
  font-weight: bold;
  width: 50%;
}
@media (min-width: 754px) {
  .who__we__are__sections__border {
    border-right: solid 1px #646464;
  }
}
.who__we__are__image {
  height: 90%;
  margin-top: 50px;
  width: 100%;
}
@media (min-width: 754px) {
  .who__we__are__image {
    margin-left: 50px;
    width: 90%;
  }
}

.bmi__strapline {
  background-color: #000;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  background-position: right;
}
.bmi__strapline__forms {
  width: 100%;
}
.bmi__strapline__forms #height, .bmi__strapline__forms #weight {
  width: 190%;
}
@media (min-width: 754px) {
  .bmi__strapline__forms {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .bmi__strapline__forms #height, .bmi__strapline__forms #weight {
    width: 150%;
  }
}
.bmi__strapline__info {
  padding-top: 50px;
}
.bmi__strapline__info h2 {
  color: #fff;
}
.bmi__strapline__info p {
  color: #EFEFEF;
}
.bmi__strapline__results {
  display: flex;
  justify-content: space-between;
  width: 150%;
}
@media (min-width: 754px) {
  .bmi__strapline__results {
    width: 60%;
  }
}

.accreditations {
  margin: 100px 0;
}
.accreditations__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 754px) {
  .accreditations__row {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.accreditations__image {
  width: 75px;
}
@media (min-width: 754px) {
  .accreditations__image {
    width: 155px;
  }
}

.strapline__video {
  display: none;
}
@media (min-width: 754px) {
  .strapline__video {
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 50px;
    display: block;
    background-color: #FF0336;
  }
}
.strapline__video h2 {
  color: #fff;
  margin-top: 100px;
}
@media (min-width: 754px) {
  .strapline__video h2 {
    margin-top: 80px;
  }
}
.strapline__video button {
  margin-top: 50px;
}

.choose__us {
  background-color: #000;
  margin-bottom: 100px;
}
.choose__us__text__icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.choose__us__text {
  margin: 20px 0 0 30px;
}
.choose__us h2 {
  color: #fff;
}
.choose__us p {
  color: #EFEFEF;
}

iframe {
  margin-top: 50px;
  width: 100%;
  height: 510px;
  border: solid 4px #fff;
}
@media (min-width: 754px) {
  iframe {
    margin-bottom: 50px;
  }
}

.about__image {
  height: 80%;
  margin-top: 80px;
  width: 100%;
  margin-left: 60px;
}

.about__grid {
  margin-bottom: 80px;
}
.about__grid__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}
.about__grid__icon {
  width: 80px;
}
.about__grid__main__image {
  width: 100%;
  height: 400px;
  object-fit: fill;
  margin-bottom: 20px;
}
@media (min-width: 754px) {
  .about__grid__main__image {
    margin-bottom: 0;
  }
}

.schedule__small__heading {
  color: #595959;
  font-weight: 600;
}
.schedule__seven-cols {
  margin: 20px 0;
}
@media (min-width: 754px) {
  .schedule__seven-cols {
    margin: 80px 0;
  }
}
.schedule__seven-cols .col-md-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .schedule__seven-cols .col-md-1, .schedule__seven-cols .col-sm-1, .schedule__seven-cols .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .schedule__seven-cols .col-md-1, .schedule__seven-cols .col-sm-1, .schedule__seven-cols .col-lg-1 {
    width: 14.2857142857%;
    *width: 14.2857142857%;
  }
  .schedule__bar {
    margin-bottom: 30px;
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -2px rgba(0, 0, 0, 0.2);
  }
}

.js-class__item__active {
  min-width: 100%;
  background-color: #FF0336;
  border: solid 1px #FF0336;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.contact__small__heading {
  font-size: 20px;
}
.contact__email__heading {
  font-size: 25px;
}
@media (min-width: 668px) {
  .contact__email__heading {
    margin: 50px 0 40px 70px;
  }
}
.contact__social {
  margin-right: 40px;
}

.news__sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news__sidebar ul li {
  border-bottom: solid 1.5px #7E7E7E;
  padding: 8px 0;
  color: #646464;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
